if SHIELD_KEYBALLBLE_R

config ZMK_KEYBOARD_NAME
    default "KeyballBLE_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KEYBALLBLE_L

config ZMK_KEYBOARD_NAME
    default "KeyballBLE_L"

config ZMK_SPLIT
    default y

endif


if SHIELD_KEYBALLBLE_DONGLE

config ZMK_KEYBOARD_NAME
    default "Keyball_Dongle"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config ZMK_USB
    default y

config BT_MAX_CONN
    default 6

config BT_MAX_PAIRED
    default 6

endif

if SHIELD_KEYBALLBLE_R_PER

config ZMK_KEYBOARD_NAME
    default "KeyballBLE_R_Per"

config ZMK_SPLIT
    default y

endif

if SHIELD_KEYBALLBLE_L_PER

config ZMK_KEYBOARD_NAME
    default "KeyballBLE_L_Per"

config ZMK_SPLIT
    default y

endif
