
# Local build files
config/boards/shields/KeyballBLE_*
config/boards/shields/Kconfig.*
config/boards/shields/KeyballBLE.*

# Keymap backups
config/KeyballBLE.keymap.*.bak
config/KeyballBLE_*.keymap

# Backup files
*.overlay.bak_*

# System files
**/.DS_Store
**/.DS_Store?
**/._*
**/.Spotlight-V100
**/.Trashes
**/ehthumbs.db
**/Thumbs.db

# Symlinks
config/boards/shields/code.h

#確認用
config/encoder_behaviors.h

config_backup_*/
*.keymap_2026*
*_tmp.keymap
*.common_*

