#define ZMK_POINTING_DEFAULT_SCRL_VAL 120    // default: 10

// レイヤー定義
// デフォルトレイヤー (接続先ごと)
#define DEFAULT_LAYER_MAC_DESKTOP 0  // デスクトップMac用
#define DEFAULT_LAYER_MAC_NOTE 1     // ノートMac用
#define DEFAULT_LAYER_IPAD 2         // iPad用
#define DEFAULT_LAYER_WIN_DESKTOP 3  // デスクトップWin用
#define DEFAULT_LAYER_WIN_COMPANY 4  // 会社用Win用

// 機能レイヤー
#define LAYER_ARROW 5      // 矢印キーレイヤー
#define LAYER_NUM 6   // 数字キーレイヤー
#define LAYER_FUNCTION 7   // ファンクションキーレイヤー
#define LAYER_SYMBOL 8     // 記号レイヤー
#define LAYER_MOUSE 9      // マウス操作レイヤー
#define LAYER_SCROLL 10     // スクロールレイヤー
#define LAYER_SETTINGS 11  // 設定レイヤー

// 接続先ごとのデフォルトレイヤーを定義
#define BT_PROFILE_0 DEFAULT_LAYER_MAC_DESKTOP  // 接続先1: デスクトップMac
#define BT_PROFILE_1 DEFAULT_LAYER_MAC_NOTE     // 接続先2: ノートMac
#define BT_PROFILE_2 DEFAULT_LAYER_IPAD         // 接続先3: iPad
#define BT_PROFILE_3 DEFAULT_LAYER_WIN_DESKTOP  // 接続先4: デスクトップWin
#define BT_PROFILE_4 DEFAULT_LAYER_WIN_COMPANY  // 接続先5: 会社用Win

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/outputs.h>    //USB/BT切替設定のため

//#define MOUSE 4
//#define SCROLL 5
//#define NUM 6

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        To_LayerARROW {
            bindings = <&mo LAYER_ARROW>;  // ARROWレイヤーに移動
            key-positions = <11 12>;
        };

        To_LayerSETTING {
            bindings = <&mo LAYER_SETTINGS>;  // 設定レイヤーに移動
            key-positions = <38 37>;
        };
    };

    macros {
        // 接続先切り替えマクロ
        switch_to_mac_desktop: switch_to_mac_desktop {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off DEFAULT_LAYER_MAC_NOTE>,
                <&tog_off DEFAULT_LAYER_IPAD>,
                <&tog_off DEFAULT_LAYER_WIN_DESKTOP>,
                <&tog_off DEFAULT_LAYER_WIN_COMPANY>,
                <&bt BT_SEL 0>,
                <&tog_on DEFAULT_LAYER_MAC_DESKTOP>;
            label = "SWITCH_TO_MAC_DESKTOP";
        };

        switch_to_mac_note: switch_to_mac_note {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off DEFAULT_LAYER_MAC_DESKTOP>,
                <&tog_off DEFAULT_LAYER_IPAD>,
                <&tog_off DEFAULT_LAYER_WIN_DESKTOP>,
                <&tog_off DEFAULT_LAYER_WIN_COMPANY>,
                <&bt BT_SEL 1>,
                <&tog_on DEFAULT_LAYER_MAC_NOTE>;
            label = "SWITCH_TO_MAC_NOTE";
        };

        switch_to_ipad: switch_to_ipad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off DEFAULT_LAYER_MAC_DESKTOP>,
                <&tog_off DEFAULT_LAYER_MAC_NOTE>,
                <&tog_off DEFAULT_LAYER_WIN_DESKTOP>,
                <&tog_off DEFAULT_LAYER_WIN_COMPANY>,
                <&bt BT_SEL 2>,
                <&tog_on DEFAULT_LAYER_IPAD>;
            label = "SWITCH_TO_IPAD";
        };

        switch_to_win_desktop: switch_to_win_desktop {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off DEFAULT_LAYER_MAC_DESKTOP>,
                <&tog_off DEFAULT_LAYER_MAC_NOTE>,
                <&tog_off DEFAULT_LAYER_IPAD>,
                <&tog_off DEFAULT_LAYER_WIN_COMPANY>,
                <&bt BT_SEL 3>,
                <&tog_on DEFAULT_LAYER_WIN_DESKTOP>;
            label = "SWITCH_TO_WIN_DESKTOP";
        };

        switch_to_win_company: switch_to_win_company {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&tog_off DEFAULT_LAYER_MAC_DESKTOP>,
                <&tog_off DEFAULT_LAYER_MAC_NOTE>,
                <&tog_off DEFAULT_LAYER_IPAD>,
                <&tog_off DEFAULT_LAYER_WIN_DESKTOP>,
                <&bt BT_SEL 4>,
                <&tog_on DEFAULT_LAYER_WIN_COMPANY>;
            label = "SWITCH_TO_WIN_COMPANY";
        };

        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to &to_default_layer &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        Mac_screenshot: Mac_screenshot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LG(KP_NUMBER_5))>;
            label = "MAC_SCREENSHOT";
        };

        to_default_layer: to_default_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = 
                <&to DEFAULT_LAYER_MAC_DESKTOP>,
                <&to DEFAULT_LAYER_MAC_NOTE>,
                <&to DEFAULT_LAYER_IPAD>,
                <&to DEFAULT_LAYER_WIN_DESKTOP>,
                <&to DEFAULT_LAYER_WIN_COMPANY>;
            label = "TO_DEFAULT_LAYER";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        tog_on: toggle_layer_on_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
        };

        tog_off: toggle_layer_off_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };

        ROTATE: ROTATE {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ROTATE";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                   &kp T                                                                      &kp Y                   &kp U               &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &kp F                   &kp G                   &mkp RCLK                   &kp BACKSLASH          &kp H                   &lt_to_layer_0 LAYER_FUNCTION J  &kp K      &kp L    &lt_to_layer_0 LAYER_MOUSE MINUS
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                   &kp B                   &mkp LCLK                   &kp AT_SIGN            &kp N                   &kp M               &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_ALT  &kp LEFT_GUI  &lt_to_layer_0 LAYER_ARROW LANG1  &lt_to_layer_0 LAYER_NUM SPACE  &lt_to_layer_0 LAYER_FUNCTION LANG2  &mt RIGHT_COMMAND TAB  &lt_to_layer_0 LAYER_ARROW ENTER  &kp LS(LG(N5))                                       &kp LS(LG(N5))
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };


        DEFAULT_LAYER_MAC_NOTE {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                   &kp T                                                                      &kp Y                   &kp U               &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &kp F                   &kp G                   &mkp RCLK                   &kp BACKSLASH          &kp H                   &lt_to_layer_0 LAYER_FUNCTION J  &kp K      &kp L    &lt_to_layer_0 LAYER_MOUSE MINUS
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                   &kp B                   &mkp LCLK                   &kp AT_SIGN            &kp N                   &kp M               &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_ALT  &kp LEFT_GUI  &lt_to_layer_0 LAYER_ARROW LANG1  &lt_to_layer_0 LAYER_NUM SPACE  &lt_to_layer_0 LAYER_FUNCTION LANG2  &mt RIGHT_COMMAND TAB  &lt_to_layer_0 LAYER_ARROW ENTER  &kp LS(LG(N5))                                       &kp LS(LG(N5))
            >;

            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        DEFAULT_LAYER_IPAD {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                   &kp T                                                                      &kp Y                   &kp U               &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &kp F                   &kp G                   &mkp RCLK                   &kp BACKSLASH          &kp H                   &lt_to_layer_0 LAYER_FUNCTION J  &kp K      &kp L    &lt_to_layer_0 LAYER_MOUSE MINUS
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                   &kp B                   &mkp LCLK                   &kp AT_SIGN            &kp N                   &kp M               &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_ALT  &kp LEFT_GUI  &lt_to_layer_0 LAYER_ARROW LANG1  &lt_to_layer_0 LAYER_NUM SPACE  &lt_to_layer_0 LAYER_FUNCTION LANG2  &mt RIGHT_COMMAND TAB  &lt_to_layer_0 LAYER_ARROW ENTER  &kp LS(LG(N5))                                       &kp LS(LG(N5))
            >;
            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        DEFAULT_LAYER_WIN_DESKTOP {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                   &kp T                                                                      &kp Y                   &kp U               &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &kp F                   &kp G                   &mkp RCLK                   &kp BACKSLASH          &kp H                   &lt_to_layer_0 LAYER_FUNCTION J  &kp K      &kp L    &lt_to_layer_0 LAYER_MOUSE MINUS
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                   &kp B                   &mkp LCLK                   &kp AT_SIGN            &kp N                   &kp M               &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_ALT  &kp LEFT_GUI  &lt_to_layer_0 LAYER_ARROW LANG1  &lt_to_layer_0 LAYER_NUM SPACE  &lt_to_layer_0 LAYER_FUNCTION LANG2  &mt RCTRL TAB    &lt_to_layer_0 LAYER_ARROW ENTER                                         &kp A
            >;
            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        DEFAULT_LAYER_WIN_COMPANY {
            bindings = <
&kp Q             &kp W         &kp E         &kp R                   &kp T                                                                      &kp Y                   &kp U               &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &kp F                   &kp G                   &mkp RCLK                   &kp BACKSLASH          &kp H                   &lt_to_layer_0 LAYER_FUNCTION J  &kp K      &kp L    &lt_to_layer_0 LAYER_MOUSE MINUS
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V                   &kp B                   &mkp LCLK                   &kp AT_SIGN            &kp N                   &kp M               &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LCTRL         &kp LEFT_ALT  &kp LEFT_GUI  &lt_to_layer_0 LAYER_ARROW LANG1  &lt_to_layer_0 LAYER_NUM SPACE  &lt_to_layer_0 LAYER_FUNCTION LANG2  &mt RCTRL TAB    &lt_to_layer_0 LAYER_ARROW ENTER                                         &kp A
            >;
            sensor-bindings = <&ROTATE SCRL_DOWN SCRL_UP>;
        };

        LAYER_ARROW {
            bindings = <
&kp ESCAPE        &none  &none  &none          &none                              &none     &kp HOME        &none         &kp END          &kp BACKSPACE
&kp TAB           &none  &none  &kp PAGE_UP    &kp BACKSPACE  &none      &none   &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp LG(RIGHT_BRACKET)
&kp LEFT_SHIFT    &none  &none  &kp PAGE_DOWN  &kp DELETE     &none      &none   &none     &mkp LCLK       &none         &mkp RCLK        &kp LG(LEFT_BRACKET)
&kp LEFT_CONTROL  &none  &none  &none          &none          &none      &none   &none                                                   &kp RIGHT_SHIFT
            >;
        };

        LAYER_NUM {
            bindings = <
&kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp HASH         &kp DOLLAR       &kp PERCENT                          &kp AMPERSAND    &kp SQT          &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS
&kp KP_NUMBER_1  &kp KP_NUMBER_2    &kp KP_NUMBER_3  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &none      &none   &kp KP_NUMBER_6  &kp KP_NUMBER_7  &kp KP_NUMBER_8       &kp KP_NUMBER_9        &kp KP_NUMBER_0
&kp LG(Z)        &kp LG(X)          &kp LG(C)        &kp LG(V)        &kp LG(Y)        &none      &none   &none            &kp KP_EQUAL     &kp PLUS              &kp ASTRK              &kp UNDERSCORE
&kp LG(A)        &none             &none           &none           &none           &none      &none   &none                                                                         &none
            >;
        };

        LAYER_FUNCTION {
            bindings = <
&kp F1                  &kp F2                &kp F3                  &kp F4                   &kp F5                      &kp F6  &kp F7                &kp F8                 &kp F9         &kp F10
&kp LA(LG(DOWN_ARROW))  &kp LA(LG(UP_ARROW))  &kp LC(LEFT_ARROW)      &kp LC(RIGHT_ARROW)      &none   &none      &none  &none   &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SEMICOLON  &kp F11
&kp LEFT_SHIFT          &none                 &kp LA(LG(LEFT_ARROW))  &kp LA(LG(RIGHT_ARROW))  &none   &none      &none  &none   &kp LS(LEFT_BRACKET)  &kp LS(RIGHT_BRACKET)  &kp COLON      &kp F12
&kp LCTRL               &none                &none                  &none                   &none  &none      &none  &none                                                              &none
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };
        
        LAYER_SYMBOL {
            bindings = <
&kp GRAVE        &kp TILDE         &kp CARET        &kp AMPERSAND    &kp PIPE        &kp BACKSLASH  &kp SLASH      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp MINUS
&kp AT_SIGN      &kp HASH          &kp DOLLAR       &kp PERCENT      &kp CARET       &none          &none          &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp UNDERSCORE  &kp EQUAL             &none 
&kp EXCLAMATION  &kp QUESTION      &kp COLON        &kp SEMICOLON    &kp SINGLE_QUOTE       &none          &none          &kp LESS_THAN          &kp GREATER_THAN        &kp SINGLE_QUOTE       &kp BACKSLASH         &none 
&none            &none             &none            &none            &none           &none          &none          &none                                                               &none
            >;
        };

        LAYER_MOUSE {
            bindings = <
&none    &none     &none     &none     &none                           &none    &none     &none     &none     &none
&mkp MB4  &mkp LCLK  &mkp MCLK  &mkp RCLK  &mkp MB5  &mkp RCLK      &none    &mkp MB4  &mkp LCLK  &mkp MCLK  &mkp RCLK  &mkp MB5
&none    &none     &none     &none     &none    &mkp LCLK      &none    &none    &mkp LCLK  &none     &mkp RCLK  &none
&none    &none     &none     &none     &none    &none         &none    &none                                     &none
            >;
        };

        LAYER_SCROLL {
            bindings = <
&none  &none  &none  &none  &none                      &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none      &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none      &none  &none                          &none
            >;
            sensor-bindings = <&scroll_up_down>;  // スクロール用のセンサーバインディング
        };

        LAYER_SETTINGS {
            bindings = <
// 接続先切り替え
&trans  &trans        &trans        &trans        &trans                                 &switch_to_mac_desktop  &switch_to_mac_note  &switch_to_ipad  &switch_to_win_desktop  &switch_to_win_company
// スペース
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
// システム操作
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp N4     &trans      &bootloader         &kp KP_NUMLOCK      &trans            &trans            &trans          &bt BT_CLR
// クリア系
&trans  &trans        &trans        &trans        &trans     &trans      &out OUT_USB        &out OUT_BLE                                                            &bt BT_CLR_ALL
            >;
        };
    };
};
